/*Whole Page*/
* {
  box-sizing: border-box;
}
/*NavBar*/
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, #FF3E3F, #4300FD, #05020C);
}

li {
  float: left;
}

li a, .dropbtn {
  display: Block;
  color: white;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: White;
  color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgba(0,0,0,0.2) ; /*CHange to transparent with a tint */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}